<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- link for JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Socket Link -->
    <!-- <script type ="text/javascript" src="/socket.io/socket.io.js"></script> -->
    <script type="text/javascript"></script>

</head>

<body>
    <div class="container">
        <h1>Here are the awesome quotes</h1>
        <div class="container form-control table-responsive">
            <ul>
            <% for (var x in users) { %>

                    <h5 class="blockquote">
                        
                        "<%= users[x].quote%>"
                    </h5>
                    <ul>
                        <p class="blockquote-footer text-capitalize">
                            <%= users[x].name%>
                            <%= users[x].created_at %>
                        </p>
                    </ul>
                    <% } %>
                </ul>
        </div>
        <br>
        <a href="/" class="btn btn-success">Form</a>
    </div>
</body>

</html>